<section id="team">
    <h2>Les membres du groupe</h2>
    <ul>
        <li>
            <strong>Yacine MOHAMMEDI</strong> : Responsable de groupe
            <br>
            <a href="mailto:Yacine_Mohammedi&#64;etu.u-bourgogne.fr">Yacine_Mohammedi&#64;etu.u-bourgogne.fr</a>
        </li>
      
        <li>
            <strong>Omar MEDAOURI</strong> : DevOps
            <br>
            <a href="mailto:Omar-Ahcene_Medaouri&#64;etu.u-bourgogne.fr">Omar-Ahcene_Medaouri&#64;etu.u-bourgogne.fr</a>
        </li>
        <li>
            <strong>Matthieu DETAIL</strong> : Référent développeur
            <br>
            <a href="mailto:Matthieu_Detail&#64;etu.u-bourgogne.fr">Matthieu_Detail&#64;etu.u-bourgogne.fr</a>
        </li>
        <li>
            <strong>Fatma LOUDA</strong> : Référent données
            <br>
            <a href="mailto:Fatma_Louda&#64;etu.u-bourgogne.fr">Fatma_Louda&#64;etu.u-bourgogne.fr</a>
        </li>
       
      
        <li>
            <strong>Ryan AIT CHEIKH</strong> : Référent qualité
            <br>
            <a href="mailto:Ryan_Aitcheikh&#64;etu.u-bourgogne.fr">Ryan_Aitcheikh&#64;etu.u-bourgogne.fr</a>
        </li>
        <li>
            <strong>Daro MBENGUE</strong> : Référent qualité
            <br>
            <a href="mailto:Daro_Mbengue&#64;etu.u-bourgogne.fr">Daro_Mbengue&#64;etu.u-bourgogne.fr</a>
        </li>
    </ul>
</section>
